.content {
    align-items: flex-start;
    padding: 80px 0 0 15%;
    background-color: #f3f3f3;
}

.content.rev {
    padding: 80px 10% 0 0;
}

.content .left {
    max-width: 900px;
    margin-right: 54px;
}

.content.rev .left {
    margin-left: 54px;
}

.content .left .title {
    padding: 20px 0;
    border-bottom: 2px solid #E30112;
}

.content.rev .left .title {

}

.content .left .title .t1 {
    font-size: 30px;
    color: #E30112;
    margin-bottom: 9px;
}

.content .left .title .t2 {
    color: #333;
    font-size: 18px;
}

.content .left .text-wrap {
    padding: 60px 0;
    font-size: 14px;
    line-height: 30px;
    color: #808080;
}

.content .left .text-wrap span {
    color: #E30112;
}

.content.rev .left .text-wrap p {
    margin-top: 27px;
    font-size: 18px;
    color: #333;
}

.content .right {
    box-sizing: border-box;
    padding: 80px 40px;
    width: 726px;
    height: 573px;
    background-image: url("../imgs/about_bg4.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.content.rev .right {
    box-sizing: border-box;
    width: 847px;
    height: 469px;
    background-image: url("../imgs/about_bg3.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.content .right > img {
    width: 350px;
    height: 60px;
    vertical-align: middle;
    margin-bottom: 14px;
}

.content .right .middle {
    padding: 50px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 24px;
    line-height: 38px;
    color: #fff;
}

.content .right .bottom {
    margin-top: 47px;
    font-size: 30px;
    color: #fff;
}

.content .right .bottom img {
    width: 45px;
    height: 70px;
    vertical-align: middle;
    margin-right: 10px;
}
