.content {
    position: relative;
    width: 1440px;
    margin: 20px auto 85px;
}

.content .new-list {
    align-items: flex-start;
    box-sizing: border-box;
    height: 268px;
    background: #FFFFFF;
    box-shadow: 0 3px 30px rgba(43, 44, 49, 0.2);
    opacity: 1;
    padding: 30px;
    margin-bottom: 40px;
}

.content .new-list .main-img {
    width: 320px;
    height: 208px;
    vertical-align: middle;
    margin-right: 30px;
}

.content .new-list .text-wrap .top {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.content .new-list .text-wrap .middle {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-bottom: 48px;
}

.content .new-list .text-wrap .bottom {
    justify-content: space-between;
}

.content .new-list .text-wrap .bottom > img {
    width: 36px;
    height: 36px;
    vertical-align: middle;
}

.content .new-list .text-wrap .bottom .pv-wrap {
    color: #999;
    font-size: 12px;
}

.content .new-list .text-wrap .bottom .pv-wrap > div {
    margin-left: 94px;
}

.content .new-list .text-wrap .bottom .pv-wrap img {
    width: 18px;
    height: 12px;
    vertical-align: middle;
    margin-right: 8px;
}

.content .new-list .text-wrap .bottom .pv-wrap div:last-child img {
    width: 13px;
    height: 14px;
}

.content .pagination {
    margin-top: 111px;
    width: 673px;
    justify-content: space-between;
    font-size: 18px;
    color: #333;
}

.content .pagination .prov,
.content .pagination .next {
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    border: 1px solid #CECECE;
    text-align: center;
    line-height: 40px;
}

.content .pagination > div.num {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.content .pagination > div.selected {
    color: #fff;
    background-color: #E30112;
}

.content .swiper-container {
    width: 1440px;
    margin: 0 auto;
    height: 600px;
}

.content .swiper-container .swiper-slide img {
    width: 380px;
    height: 519px;
    vertical-align: middle;
}

.content .swiper-container .swiper-slide div {
    display: inline-block;
    width: 380px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    font-size: 24px;
    color: #666;
}

