* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fl-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.elli {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}